@font-face {
    font-family: technic;
    src: url("fonts/Technic.ttf");
}

* {
  font-family: technic;
}

.body-contain {
  display: grid;
  width: 100%;
}

.top-contain {
  background-color: #eae6d5;
  padding: 2em;
}

.logo {
  text-align: center;
  padding-bottom: 2em;
}

.topnav {
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin: 1em;
  padding: 2em;
  font-size: 1.5em;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  padding: .5em;
}

a {
  text-decoration: none;
  color: black;
}

.project-container {
  text-align: center;
  display:grid;
  font-weight: bold;
}

.first {
  background-color: #f09292;
  padding: 6em 6em 7em 0;
  float: left;
  display: flex;
  justify-content: space-between;
}

.second {
  background-color: #ddd0c7;
  padding: 6em 6em 7em 0;
  float: left;
  display: flex;
  justify-content: space-between;
}

.third {
  background-color: #0a5c94;
  padding: 6em 6em 7em 0;
  float: left;
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 1.5em;
  margin-left: 1em;
}

.desc {
  margin-left: 5em;
}

.langs {
  margin-left: 5em;

}
