* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-color: #f4faff;
}

a {
  color: #333;
  text-decoration: none;
}

.fragment-collection {
  display: flex;
  justify-content: space-between;
}

.fragment-wrapper {
  display: flex;
  flex-direction: column;
  /* margin-right: 3em; */
  align-items: center;
}

.fragment-content {
  text-align: center;
  align-items: center;
  padding: 2em;
  justify-content: left;
}

.profile-img-container {
  /* border: 1em solid #b2ffd6; */
  border: 1em solid #d7fdf0;
  /* border-radius: 5em; */
  /* width: 100vw; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  background-color: #b4d6d3;
  padding: 2em;
}

.profile-img {
  border-radius: 5em;
  border: 0.2em solid black;
  height: 10em;
  width: 10em;
  margin-bottom: 5em;
}

.icon-container {
  display: flex;
  text-align: center;
  justify-content: center;
}

.icon {
  padding-right: 0.3em;
  font-size: 4em;  
  color: black;
  justify-content: center;
  line-height: inherit;
}

.layer-container {
  /* display: flex; */
  justify-content: space-evenly;
  align-items: center;
  /* margin: 0; */
}

.project-container {
  display: flex;
  /* width: 100vw; */
  /* justify-content: space-evenly; */
}

.project-fragment {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 0.2em solid black;  
  margin: 2em;
  padding: 2em;
  width: 100%;
}

.project-img {
  padding: 1em;
  max-height: 50%;
  max-width: 100%;
}

.project-tech {
  font-weight: bold; 
  /* color: purple */
}

.code {
  font-style: italic;
}

@media screen and (max-width: 1024px) {
  .project-container {
    display: block;
  }
} 